@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

html, body {
    height: 100%;
    font-family: "Google Sans", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 2.5vh;
}

.card-title {
  background: rgba(100, 100, 100, 1);
  padding: 32px;
  border-radius: 16px;
  backdrop-filter: blur(16px);
  max-width: 130vh;
  color: white;
  position: absolute;
}

.content-title {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background: rgba(100, 100, 100, 1);
  padding: 16px;
  border-radius: 16px;
  backdrop-filter: blur(16px);
  width: 90%;
  color: white;
  position: absolute;
  top: 70vh;
}

.content {
  height: 32vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: first base;
  align-items: center;
  text-align: center;
}

.s1, .s2, .s3, .s4 {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.s1 {
    background-image: url("./img/Trauma1.jpg");
}

.s2 {
    background-image: url("./img/Trauma2.jpg");
}

.s3 {
    background-image: url("./img/Trauma3.jpg");
}

.s4 {
    background-image: url("./img/Trauma4.jpg");
}